<div class="encuestaUsuario" *ngIf="encuesta">
    <h1>Bienvenido a Forms Corp</h1>
    <h2>{{ encuesta.titulo }}</h2>
    <ul class="preguntas">
        <li class="pregunta" *ngFor="let pregunta of encuesta.preguntas">
            <h3>{{ pregunta.titulo }}</h3>
            <ul class="opciones">
                <li class="opcion" *ngFor="let opcion of pregunta.opciones; let i = index">
                    <input type="checkbox" (change)="sumarCalificacion(pregunta, i, $event)">
                    <p>{{ opcion.titulo }}</p>
                </li>
            </ul>
        </li>
    </ul>
    <button (click)="subirResultadosEncuesta()">Finalizar encuesta</button>
</div>
