.encuesta{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
    padding: 20px 0;
    box-sizing: border-box;
}

.encuesta .tituloFormulario{
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.encuesta .crearPregunta{
    background-color: #CDFAD5;
    min-width: 400px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 0;
}

.encuesta .crearPregunta .pregunta{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
    min-height: 200px;
}

.encuesta .crearPregunta .pregunta .tituloPregunta{
    width: 350px;
    height: 35px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.encuesta .crearPregunta .pregunta .opciones{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.encuesta .crearPregunta .pregunta .opciones .opcion .textoOpcion{
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.encuesta .crearPregunta .pregunta .añadir{
    margin-top: 30px;
}


.encuesta .visualizarPreguntas{
    background-color: bisque;
    min-width: 400px;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 0;
    margin: 40px 0;
    overflow-y: scroll;
    padding: 15px;
    box-sizing: border-box;
}

.encuesta .visualizarPreguntas .vPreguntas{
    list-style: none;
}

.encuesta .visualizarPreguntas .vPreguntas h2{
    margin-bottom: 5px;
}

.encuesta .visualizarPreguntas .vPreguntas .vOpcion{
    list-style: none;
    margin-bottom: 15px;
}

.encuesta .añadir1{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #FF8080;
    transition: all .350s ease-in-out;
}

.encuesta .añadir1:hover{
    transform: scale(1.1);
}


.encuesta .añadir2{
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #FF8080;
    transition: all .350s ease-in-out;
}

.encuesta .añadir2:hover{
    transform: scale(1.1);
}