<div class="encuesta">
    <input class="tituloFormulario" type="text" placeholder="Formulario sin titulo" [(ngModel)]="tituloEncuesta">
    
    <div class="crearPregunta">
        <div class="pregunta">
            <input class="tituloPregunta" type="text" placeholder="Pregunta sin titulo" [(ngModel)]="tituloPregunta">
            <ul class="opciones">
                <li class="opcion" *ngFor="let opcion of opcionesPregunta; let i = index">
                    <input class="textoOpcion" type="text" placeholder="Sin opcion" [(ngModel)]="opcionesPregunta[i]">
                </li>
            </ul>
            <button (click)="agregarOpcion()" class="añadir1">Añadir opcion</button>
        </div>
        <button (click)="agregarPregunta()" class="añadir2">Añadir pregunta</button>
    </div>

    <div class="visualizarPreguntas">
        <ul class="vPreguntas">
            <li class="vPregunta" *ngFor="let pregunta of listaPreguntas">
                <h2>{{pregunta.titulo}}</h2>
                <ul class="vOpciones">
                    <li class="vOpcion" *ngFor="let opcion of pregunta.opciones">
                        <p>{{opcion}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button (click)="subirEncuesta()" class="añadir3">Publicar encuesta</button>
</div>