<div class="encuesta">
    <input class="tituloFormulario" type="text" placeholder="Formulario sin titulo" [(ngModel)]="tituloEncuesta">
    
    <form [formGroup]="formulario" class="crearPregunta">
        <div class="pregunta">
          <input class="tituloPregunta" type="text" placeholder="Pregunta sin titulo" formControlName="tituloPregunta">
          <ul class="opciones">
            <li class="opcion" *ngFor="let opcion of getOpcionesPregunta; let i = index" [formGroup]="opcion">
              <input class="textoOpcion" type="text" placeholder="Sin opcion" formControlName="texto">
            </li>
          </ul>
          <button (click)="agregarOpcion()" class="añadir1">Añadir opcion</button>
        </div>
        <button (click)="agregarPregunta()" class="añadir2">Añadir pregunta</button>
      </form>

    <div class="visualizarPreguntas">
        <ul class="vPreguntas">
            <li class="vPregunta" *ngFor="let pregunta of listaPreguntas">
                <h2>{{pregunta.titulo}}</h2>
                <ul class="vOpciones">
                    <li class="vOpcion" *ngFor="let opcion of pregunta.opciones">
                        <p>{{opcion}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button (click)="subirEncuesta()" class="añadir3">Publicar encuesta</button>
</div>