.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10vh;
    background-color: #ffeeb8cc;
    padding: 20px 40px;
}

.container h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.container .btn-1{
    font-size: 20px;
    width: 320px;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    background-color: #FF8080;
    box-shadow: 4px 4px 0px 1px #d87171;
    transition: all .350s ease-in-out;
}

.container .btn-1:hover{
    transform: scale(1.1);
}

.container .btn-2{
    font-size: 20px;
    width: 320px;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    background-color: #FFCF96;
    box-shadow: 4px 4px 0px 1px #fdbc6c;
    transition: all .350s ease-in-out;
}

.container .btn-2:hover{
    transform: scale(1.1);
}

.container .input-1{
    width: 320px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid;
    transition: all .350s ease-in-out;
}

.container .input-1:hover{
    transform: scale(1.1);
}