/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

.encuesta .crearPregunta .pregunta .opciones .opcion .textoOpcion{
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}